.home {
  display: flex;
  justify-content: space-between;
}

.food {
  flex: 2;
}

.bill {
  margin-top: 40px;
  flex: 1;
  background-color: #fff;
  height: 300px;
}

.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-bill {
  border: none;
  padding: 20px 85px;
  background-color: #dfcffe;
  cursor: pointer;
  border: 1px solid #fff;
}

.btn-charges {
  flex: 3;
  padding: 20px;
  border: none;
  background-color: rgb(77, 86, 223);
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  border: 1px solid #fff;
}

.btn-icon {
  flex: 1;
  border: 1px solid #fff;
  background-color: rgb(77, 86, 223);
  color: #fff;
  padding: 20px;
}

.container {
  width: 100%;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid #dfdfdf;
  border-top: 2px solid #dfdfdf;
}

.btn {
  background-color: #fff;
  color: #b6b6b6;
  width: 100%;
  border: none;
  padding: 10px;
}

.food__container {
  width: 60%;
  padding: 40px 0px;
  align-items: start;
  /* max-width: 1680px; */
}

.food article {
  margin-bottom: 20px;
}

.food__title {
  font: var(--text-2xl-medium);
  margin-bottom: 6px;
  color: var(--neutral-black);
}

.food-recommended__list {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 40px;
}

.food-porridge__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
}

.food-rice__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
}

.food-baverage__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px;
}