.header {
  display: flex;
  width: 100%;
  height: 50px;
  color: #000;
  align-items: center;
  justify-content: center;
  background-color: #dfcffe;
}

.icon1 {
  flex: 1;
  background-color: inherit;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title {
  flex: 3;
  align-items: center;
  background-color: inherit;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}

.icon2 {
  flex: 1;
  background-color: inherit;
  align-items: center;
  text-align: center;
  justify-content: center;
}